*{
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family:'Permanent Marker';
}

header {
	height: 500px;
	width:100%;
	background:black;
	position: relative;

}

.header_fond {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;left: 0;
	background: url('../assets/acceuil_header.png') center no-repeat;
	background-size: cover;
	z-index: 1;
	opacity: 0.9;
}

.container {
	width: 90%;
	margin: auto;
	position: relative;
	z-index: 99;
}

.header_navbar {
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header_navbar-logo-title {
	color: white;
	font-size: 29px;
}

.header_navbar-menu-link {
	margin-left: 30px;
	text-decoration: none;
	color: white;
	font-size: 20px;
  z-index: 15;
}

.header_navbar-menu-link:hover {
  border: 3px solid violet;
  background-color: black;
  border-radius: 60%;
  cursor: pointer;
  padding: 12px;
}
